@@ -0,0 +1,79 @@
<!DOCTYPE html>
<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script>
        $(document).ready(function(){
            $(".hide").hide();
            $(':radio').change(function(){
                var isChecked = $(this).prop('checked');
                var isShow = $(this).hasClass('hide_class');
                
                $(".cidr_class").toggle(isChecked && isShow);
                $("#subnet_id").toggle(isChecked && !isShow);
                
                if($(this).val()==1)
                    {
                        $("#cidr").val('');
                        $("#mask").prop("required", true);
                    }
                else 
                    if($(this).val()=="2")
                    {
                        $("#mask").val('');
                        $("#cidr").prop("required", true);
                    }
                });

            $( "#submit" ).click(function() {
               $.ajax({
            url: '/prob1_solution',
            data: $('form').serialize(),
            type: 'POST',
            success: function(response) {
               $("#output").html(response);
            },
            error: function(error) {
                $("#output").html(error);
            }
            });
        });
    });
    </script>
</head>
<body>

<form id="myForm" method="POST" action="http://localhost:5000/prob1_solution">
    <fieldset>
        <legend>Problem 1:</legend>
        <table style="text-align:center; margin-left:25%">
            <tr>
                <td>IP Address:</td>
                <td><input type="text" name="ip" id="ip" title="Enter valid IP address" placeholder="XXX.XXX.XXX.XXX" required></td>
            </tr>
            <tr>
                <td> Subnet mast  <input type ="radio" name="choice" id="choice" value="1" checked></td>
                <td> CIDR  <input type ="radio" name="choice" class="hide_class" id="choice" value="2"></td>
            </tr>

            <tr id="subnet_id">
                <td>Subnet Mask:</td>
                <td><input type="text" name="mask" id="mask" title="Enter valid subnet mask" placeholder="XXX.XXX.XXX.XXX"required></td>
            </tr>

            <tr class="cidr_class" style="display:none">
                <td></td>
                <td>/</td>
            </tr>

            <tr class="cidr_class" style="display:none">
                <td>CIDR:</td>
                <td><input type="text" name="cidr" id="cidr" ></td>
            </tr>
        </table>
        <input type="submit" value="Submit" id="submit" style="text-align:center">
    </fieldset>
</form>
<div id="output"></div>
</body>
</html>